.create-flow {
  background: #fff;
  padding: 16px;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;

  header {
    margin-bottom: 16px;
  }

  .content {
    min-height: 50%;
    display: flex;
    gap: 16px;

    &.details {
      flex-direction: column;
      height: 100%;

      .flow-subtitle {
        color: #6B757B;
        text-transform: uppercase;
      }

      .import-form {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .field-row {
          display: flex;
          gap: 24px;

          .import-options {
            .import-options-label {
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
              padding-top: 4px;
              padding-bottom: 4px;
            }

            .import-options-choices {
              height: 24px;
              display: flex;
              gap: 16px;
              align-items: center;

              .import-options-choice {
                display: flex;
                align-items: center;
                gap: 8px
              }
            }
          }
        }

        .file-drop {
          flex: 1;
          height: 100%;
          display: flex;
          flex-direction: column;
          padding: 12px;
          gap: 8px;
          border-radius: 4px;
          border: 1px solid #ECEEEE;

          .file-drop-instructions {
            display: flex;

            gap: 4px;

            .instructions {
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
              
              .visually-hidden {
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
                clip: rect(1px, 1px, 1px, 1px);
              }
              
              input.visually-hidden:is(:focus, :focus-within) + label {
                outline: thin dotted;
              }

              .upload {
                color: #0b6fd5;
                cursor: pointer;
              }

              .ok, .error {
                margin-left: 4px;
              }

              .ok {
                color: #017952;
              }

              .error {
                color: #df2d24;
              }
            }
          }

          .drop-zone {
            flex: 1;
            display: flex;

            .drop-zone-instructions {
              flex: 1;
              display: flex;
              background: #F6FAFD;
              border-radius: 4px;
              box-sizing: border-box;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
            }

            textarea {
              font-family: Menlo, "Consolas", monospace;
              font-size: 11px;
            }
          }
        }
      }

      .button-bar {
        margin-top: 32px;
        display: flex;
        gap: 4px;

        &.align-right {
          margin-left: auto;
        }
      }
    }

    &.slim {
      width: max-content;
    }

    .create-flow-card {
      width: 50%;
      border-radius: 4px;
      box-shadow: 0px 2px 8px 1px rgba(40, 54, 54, 0.15);
      cursor: pointer;
      // transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: perspective(1px) translateZ(0);
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(1);
        box-shadow: 0px 1px 1px 0px rgba(40, 54, 54, 0.15);
      }

      .header, .main {
        padding: 16px;
        display: flex;
      }

      .header {
        flex-direction: column;
        gap: 4px;

        .title {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .sub-title {
          padding-left: 24px;
        }
      }

      .main {
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
        }

        .create-flow-card-content {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          box-shadow: 0px 8px 16px 8px rgba(2, 3, 3, 0.05), 0px 4px 4px 4px rgba(0, 0, 0, 0.02);
        }
      }
    }
  }
}

.account-picker-option {
  display: flex;
  gap: 8px;

  span:first-of-type {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span:last-of-type {
    color: #6b757b;
    text-align: right;
    white-space: pre;
    width: 8ch;
  }
}
