.audit-log {
  margin-left: 12px;

  .audit-logs-header {
    margin: 16px 0;
  }

  .items {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .item {
      padding: 8px;

      .line {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;

        .title {
          font-weight: 600;
          margin-right: 4px;
        }

        &.light {
          color: #535E65;
        }
      }
    }
  }
}
