.signal {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: 8px;

  &.edit {
    grid-template-columns: min-content auto min-content;
  }

  .status {
    min-width: 12px;
    display: inline-flex;
    
    .icons-lib {
      @include fill-colors(
        $critical: 'critical',
        $success: 'success',
        $unknown: 'unknown',
        $warning: 'warning',
      ); 
    }
  }

  .name {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #293338;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.unknown {
      color: #6B757B;
    }
  }

  .delete-signal {
    cursor: pointer;
  }
}
