.flowlist-pulldown {
  max-height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin: 0 1rem;

  .flowlist-search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9ea;
    padding-bottom: 0.375rem;
  }
}

.flowlist-pulldown-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.625rem;
  padding-top: 0.75rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.flowlist-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  cursor: pointer;

  img {
    max-height: 1rem;
    max-width: 1rem;
  }

  .iconslib {
    max-height: 0.625rem;
    max-width: 0.625rem;
    padding-left: 0.1875rem;
  }

  &:hover {
    background-color: #f3f4f4;
  }
}
