.step {
  box-sizing: border-box;
  padding: 8px;
  background-color: #fff;

  &.stacked {
    &.critical {
      border: 1px solid $critical;
    }

    &.warning {
      border: 1px solid $warning;
    }
  }

  &.detail {
    cursor: pointer;
  }

  .edit-signals-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  .step-header {
    display: grid;
    align-items: center;
    margin-bottom: 4px;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    &.edit {
      grid-template-columns: min-content auto min-content min-content;
    }

    .drag-handle {
      cursor: pointer;
    }

    .delete-btn {
      cursor: pointer;
    }
  }
}
