.step {
  box-sizing: border-box;
  padding: 8px;
  background-color: #fff;

  &.stacked {
    cursor: pointer;

    &.selected {
      @include status-colors(
        $critical: 'critical',
        $warning: 'warning',
        $success: 'success',
        $unknown: 'unknown',
      );
    }
  }

  &.faded {
    opacity: 0.3;
  }

  .edit-signals-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  .show-healthy-btn {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    padding: 0;
    color: #6B757B;

    span {
      font-size: 12px !important;
      font-weight: 400 !important;
      margin-right: 4px !important;
    }
  }

  .show-signals-btn {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin-top: 4px;

    span {
      font-size: 12px !important;
      margin-right: 4px !important;
    }
  }

  .step-header {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;

    h6 {
      color: currentColor;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    &.edit {
      grid-template-columns: min-content auto min-content min-content;
    }

    .drag-handle, .delete-btn {
      cursor: pointer;
    }

    .expand-collapse-btn {
      background-color: transparent;
      border: 0;
      box-shadow: none;
    }
  }

  &.add-step {
    padding: 0;

    button {
      padding: 10px 8px;
      width: 100%;
      justify-content: start;
    }
  }
}
