.step {
  box-sizing: border-box;
  padding: 8px;
  background-color: #fff;

  &.stacked {
    cursor: pointer;

    &.selected {
      @include status-colors(
        $critical: 'critical',
        $warning: 'warning',
        $success: 'success',
        $unknown: 'unknown',
      );
    }
  }

  &.faded {
    opacity: 0.3;
  }

  .edit-signals-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  .step-header {
    display: grid;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;

    h6 {
      color: currentColor;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    &.edit {
      grid-template-columns: min-content auto min-content min-content;
    }

    .drag-handle {
      cursor: pointer;
    }

    .delete-btn {
      cursor: pointer;
    }
  }
}
