.change-shape-modal {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;

  .modal-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .shape-options {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      label {
        display: grid;
        grid-template-columns: min-content min-content auto;
        gap: 8px;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #293338;

        svg {
          fill: none;
          stroke: #293338;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    gap: 8px;
  }
}
