.stage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 270px;
  min-width: 270px;

  .stage-header {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    padding: 0 16px;

    &.edit {
      gap: 8px;
      background-color: #9ea5a9;
      color: #fafbfb;

      svg {
        fill: #fafbfb;
      }

      .last-col {
        margin-left: auto;
        cursor: pointer;
      }
    }

    h4 {
      color: inherit;
    }

    @include status-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );

    &.has-source {
      clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
      border-radius: 0;
      justify-content: flex-start;
      padding-left: 32px;
    }

    &.has-target {
      clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
      border-radius: 0;
      justify-content: flex-start;
    }

    &.has-target.has-source {
      clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
      border-radius: 0;
    }
  }

  .body {
    box-sizing: border-box;
    flex: 1 1 auto;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.02), 0px 8px 16px 8px rgba(2, 3, 3, 0.05);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;

    .section-title {
      padding: 16px;
      box-sizing: border-box;
    }

    .step-groups {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 16px 16px;
      box-sizing: border-box;
      width: 100%;
      overflow-y: auto;

      .has-signals {
        height: 75%;
      }
    }
    
    .signals-listing {
        height: 30%;
        overflow-y: auto;
        margin-bottom: 16px;
        padding: 0 16px 16px;
        box-sizing: border-box;
      }
  }
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  align-items: end;

  .dropdown-link {
    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      color: #293338;

    }

    &.destructive {
      a {
        color: #DF2D24;
      }
    }
  }
}
