.stage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 270px;
  min-width: 270px;
  padding-right: 2px;
  border-right: 1px solid #eceeee;
  height: 100%;

  .stage-header {
    box-sizing: border-box;
    flex: 0 0 auto;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    padding: 0 16px;

    &.edit {
      gap: 8px;
      background-color: #9ea5a9;
      color: #fafbfb;

      .drag-handle {
        cursor: pointer;
        svg {
          fill: #fafbfb;
        }
      }

      .last-col {
        margin-left: auto;
        cursor: pointer;
      }
    }

    h4 {
      color: inherit;
    }

    @include status-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );

    &.has-source {
      clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
      border-radius: 0;
      justify-content: flex-start;
      padding-left: 32px;
    }

    &.has-target {
      clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
      border-radius: 0;
      justify-content: flex-start;
    }

    &.has-target.has-source {
      clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
      border-radius: 0;
    }
  }

  .body {
    box-sizing: border-box;
    flex: 1 1 auto;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100% - 71px);

    .levels {
      display: flex;
      flex-direction: column;
      height: 100%;

      &.stacked {
        height: calc((100% - 24px) / 2);
        min-height: calc((100% - 24px) / 2);
      }

      .section-title {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        gap: 0.25rem;
        padding: 0 16px 8px 
      }

      .step-groups {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 24px;
        box-sizing: border-box;
        overflow-y: auto;
      }
    }
    
    .signals {
      display: flex;
      flex-direction: column;
      height: calc((100% - 24px) / 2);
      padding: 8px 24px;

      .section-title {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        gap: 0.25rem;
        padding: 0 0 8px;
      }

      .signals-listing {
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: auto;
        margin-bottom: 16px;
        box-sizing: border-box;
      }
    }
  }
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  align-items: end;

  .dropdown-link {
    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      color: #293338;
    }

    &.destructive {
      a {
        color: #DF2D24;
      }
    }
  }
}
