.step-settings-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;

  .step-settings-form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .step-settings-section {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .step-exclude-option {
        margin-bottom: 8px;
      }

      .step-settings-options {
        display: flex;
        flex-direction: column;

        .step-settings-option {
          display: flex;
        }
      }

      .settings-worst-options {
        display: flex;
        gap: 8px;
        margin-left: 24px;
        margin-bottom: 8px;
        margin-top: -4px;

        .settings-weight-value {
          width: 40px;

          input {
            text-align: right;
          }
        }
      }

      .signal-settings-table {
        display: flex;
        height: 100%;
        min-height: 180px;

        .included-signal {
          box-sizing: border-box;
          display: grid;
          grid-template-columns: min-content auto;
          align-items: center;
          gap: 8px;
      
          .icons-lib {
            @include fill-colors(
              $critical: 'critical',
              $success: 'success',
              $unknown: 'unknown',
              $warning: 'warning',
            );
          }
        }
      }
    }
  }

  .step-settings-button-bar {
    display: flex;

    .right {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
