.sidebar {
  flex: 0 0 360px;
  max-width: 360px;
  margin-left: 8px;
  background-color: #fff;
  border-top: 5px solid transparent;

  @include border-colors(
    $critical: 'critical',
    $success: 'success',
    $unknown: 'unknown',
    $warning: 'warning',
  );
    
  &.closed {
    flex-basis: 0;
    max-width: 0;
    margin-left: 0;
    display: none;
  }
  
  .header {
    display: flex;
    padding: 8px;
    justify-content: end;
  }
  
  .content {
    padding: 8px;
  }
}