.level {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;

  .order {
    border-radius: 4px 0 0 4px;
    padding: 8px 8px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    &.edit {
      display: flex;
      flex-direction: column;
      padding: 4px;
      gap: 4px;
      align-items: center;

      .drag-handle {
        cursor: pointer;
        svg {
          fill: #fafbfb;
        }
      }

      .delete-btn {
        margin-top: 4px;
        cursor: pointer;
      }
    }
    
    @include status-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );
  }
  .steps {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));

    .step-cell {
      box-sizing: border-box;
      border-color: #dedede;
      border-style: solid;
      border-width: 0.5px 0.25px;

      &.edit {
        border-width: 0.5px;
        grid-column: 1 / 4;
      }

      &.top-thin-border {
        border-top-width: 0.25px;
      }

      &.bot-thin-border {
        border-bottom-width: 0.25px;
      }

      &.top-radius {
        border-top-right-radius: 4px;
      }

      &.bot-radius {
        border-bottom-right-radius: 4px;
      }

      &.start-col-1 {
        grid-column: 1 / -1;
      }

      &.start-col-2 {
        grid-column: 2 / -1;
      }

      &.last-col {
        border-right-width: 0.5px;
      }
    }
  }
}
