.level {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;

  .order {
    height: 30px;
    box-shadow: 0px 1px 2px 1px rgba(40, 54, 54, 0.1);
    border-radius: 4px;
    padding: 8px 8px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    &.edit {
      display: flex;
      flex-direction: column;
      height: min-content;
      padding: 4px;
      gap: 4px;
      align-items: center;

      .drag-handle {
        cursor: pointer;
        svg {
          fill: #fafbfb;
        }
      }

      .delete-btn {
        margin-top: 4px;
        cursor: pointer;
      }
    }
    
    @include status-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );
  }
  .steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;

    .step-cell {
      flex: 1 1 27%;
      min-height: 50px;

      &.edit {
        flex: 1 1 100%;
      }
    }
  }
}
