.level {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;

  .order {
    border-radius: 4px 0 0 4px;
    padding: 8px 8px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    &.edit {
      display: flex;
      flex-direction: column;
      padding: 4px;
      gap: 4px;
      align-items: center;

      .drag-handle {
        cursor: pointer;
        svg {
          fill: #fafbfb;
        }
      }

      .delete-btn {
        margin-top: 4px;
        cursor: pointer;
      }
    }

    &.faded {
      opacity: 0.3;
    }
    
    @include status-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );
  }
  .steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .steps-row {
      box-sizing: border-box;
      width: 100%;
      display: grid;

      &.cols-1 {
        grid-template-columns: 1fr;
      }

      &.cols-2 {
        grid-template-columns: 1fr 1fr;
      }

      &.cols-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .step-cell {
        box-sizing: border-box;
        
        .step {
          height: 100%;
          box-shadow: inset 0px 0px 0px 0.25px #dedede;
        }

        &:not(.edit) {
          .step {
            @include inset-borders(
              $critical: 'critical',
              $warning: 'warning',
            );
          }
        }
      }

      &:first-child {
        .step-cell {
          &:last-child {
            .step {
              border-top-right-radius: 4px;
            }
          }
        }
      }

      &:last-child {
        .step-cell {
          &:last-child {
            .step {
              border-bottom-right-radius: 4px;
            }
          }
        }
      }
    }
  }
}
