.level {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;

  .order {
    border-radius: 4px 0 0 4px;
    padding: 8px 8px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    &.edit {
      display: flex;
      flex-direction: column;
      padding: 4px;
      gap: 4px;
      align-items: center;

      .drag-handle {
        cursor: pointer;
        svg {
          fill: #fafbfb;
        }
      }

      .delete-btn {
        margin-top: 4px;
        cursor: pointer;
      }
    }
    
    @include status-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );
  }
  .steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    div:first-child {
      div.step-cell {
        border-top-width: .5px;
      }
      div:last-child {
        border-top-right-radius: 4px;
      }
    }

    div:last-child {
      div.step-cell {
        border-bottom-width: .5px;
      }
      div:last-child {
        border-bottom-right-radius: 4px;
      }
    }

    .steps-row {
      box-sizing: border-box;
      width: 100%;
      display: grid;

      &.cols-1 {
        grid-template-columns: 1fr;
      }

      &.cols-2 {
        grid-template-columns: 1fr 1fr;
      }

      &.cols-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }

      div:last-child {
        border-right-width: 0.5px;
      }

      .step-cell {
        box-sizing: border-box;
        border: 0.25px solid #dedede;
      }
    }
  }
}
