.icons-grid-wrapper {
  display: flex;
}

.icons-grid-container {
  font-size: 0;
  margin-bottom: 8px;

  &::before {
    content: "";
    width: 10px;
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 21px, #000 0 28px);
  }

  .icons-lib {
    margin: 1px 1px -3px;
    cursor: pointer;
    
    @include fill-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );

    &.faded {
      opacity: 0.3;
    }
  }
}
