.icons-grid-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.icons-grid-container {
  font-size: 0;

  &::before {
    content: "";
    width: 8px;
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 24px, #000 0 32px);
  }

  .icons-lib {
    @include fill-colors(
      $critical: 'critical',
      $success: 'success',
      $unknown: 'unknown',
      $warning: 'warning',
    );
  }
}
