.flow {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
  max-width: 100%;
  min-width: 0;

  .flow-header {
    flex: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9EA;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .flow-header-actions {
      margin-left: auto;
      display: flex;
      gap: 8px;
    }

    .back {
      cursor: pointer;
    }

    .flow-heading {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .flow-status {
      display: flex;
      align-items: center;
      padding: 0 16px;
      gap: 8px;
    }

    .logo-image {
      img {
        max-height: 24px;
        max-width: 24px;
      }

      &.edit {
        background-color: #E7E9EA;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          fill: #293338;
        }
      }
    }
  }
}

.flow-listing-dropdown {
  width: 450px;
  height: 270px;
}
