.flow {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .flow-header {
    flex: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9EA;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    Button {
      margin-left: auto;
    }

    .back {
      cursor: pointer;
    }

    .flow-heading {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .logo-image {
      img {
        max-height: 24px;
        max-width: 24px;
      }

      &.edit {
        background-color: #E7E9EA;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          fill: #293338;
        }
      }
    }
  }
}

.flow-listing-dropdown {
  width: 450px;
  height: 270px;
}

.edit-mode-banner {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #0c74df;
  font-size: 0.75rem;
  line-height: 1rem;

  .info-icon {
    padding: 0 0.5rem;
  }

  .button {
    color: #ffffff;
    box-shadow: none;
    margin: 0 0.5rem;

    &.dismiss {
      background-color: rgba(255, 255, 255, 0.20);
    }

    &.close {
      background-color: transparent;
    }
  }
}
