@import '~@newrelic/nr-labs-components/dist/styles.css';
@import '../../src/components/styles.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f3f4f4;
  box-sizing: border-box;

  .messages-wrapper {
    display: flex;
    flex-direction: column;
  }

  .main {
    flex: 1;
    display: flex;
    overflow-y: hidden;
  }
}

.button-tertiary-border {
  box-shadow: inset 0 0 0 1px #293338;

  &:hover {
    box-shadow: inset 0 0 0 1px #293338;
  }
}
