@import '~@newrelic/nr-labs-components/dist/styles.css';
@import '../../src/components/styles.scss';

.container {
  display: flex;
  height: 100%;
  background-color: #f3f4f4;
  box-sizing: border-box;
  justify-content: center;
}
