.flows-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:9px;
}

.search-bar {
  width: calc(100% - 32px);
  background-color: #ffffff;
  padding: 0.75rem 1.0rem;
}

.flowlist-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.flowlist-header {
  flex-shrink: 0;
}

.flowlist-content {
  flex-grow: 1;
  overflow-y: auto;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 16px;
  border: 1px solid #eceeee;
}

.col-1-format {
  width: 19%;
  border-style: none none solid none;
}

.col-2-format {
  width: 79%;
  border-style: none none solid solid;
}

.flow-name {
  flex-direction: column;
  justify-content: center;
}

.stage-names {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-y: hidden;
  overflow-x: auto;
}

.stage-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.5rem;
  min-width: 4rem;
  max-width: 7rem;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.2);
  

  .name-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.has-none {
    outline: 1px solid rgba(40, 54, 54, 0.1);
  }
  
  &.has-source {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
    padding-left: 0.7rem;
  }
  
  &.has-target {
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  }
  
  &.has-target.has-source {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
  }
}
