.flows-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  max-width: 100%;
  min-width: 0;

  .search-bar {
    padding: 8px;
    background: #fff;
    border-radius: 4px;

    .search {
      width: 100%;
    }
  }

  .flow-list {
    height: 100%;
    background: #fff;
    border-radius: 4px;
    overflow: scroll;

    .listing {
      margin: 8px;
      display: grid;
      grid-template-columns: 48px minmax(min-content, 30%) 1fr;

      .header, .row {
        min-height: 48px;
        display: contents;

        .cell {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          overflow: hidden;
          white-space: nowrap;
          padding: 12px 16px;
          border-bottom: 1px solid #eceeee;
          border-right: 1px solid #eceeee;
          display: flex;
          flex-direction: column;
          justify-content: center;
          transition: background-color 500ms ease-out;

          &.name {
            font-weight: 500;
            text-overflow: ellipsis;
            align-items: start;
            gap: 4px;

            .user {
              color: #6B757B;
            }
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .header {
        .cell {
          color: #535e65;
          font-weight: 500;
          position: sticky;
          top: 0;
          z-index: 1;
          background: #fff;
        }
      }
  
      .row {
        cursor: pointer;

        .details {
          display: contents;

          .stages-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            gap: 8px;
            overflow-y: hidden;
            overflow-x: auto;

            .stage-shape {
              position: relative;
              max-width: 144px;
              min-width: 96px;

              .stage-name {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                text-align: center;
              
                height: 28px;
                line-height: 28px;
                background: rgba(192, 192, 192, 0.2);
                box-sizing: border-box;
              
                .name-text {
                  font-size: 12px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  padding: 0 8px;
                }
              
                &.has-none {
                  outline: .5px solid #cdd3d5;
                  border-radius: 2px;
                }
                
                &.has-source {
                  position: absolute;
                  top: 0;
                  left: 0;
                  clip-path: polygon(99% 2%, 99% 98%, 1% 98%, 11% 50%, 1% 2%);
                  padding-left: 8px;
                }
              
                &.has-source-border {
                  clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
                }
                
                &.has-target {
                  position: absolute;
                  top: 0;
                  left: 0;
                  clip-path: polygon(1% 2%, 89% 2%, 99% 50%, 89% 98%, 1% 98%);
                  padding-right: 8px;
                }
              
                &.has-target-border {
                  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
                }
                
                &.has-source.has-target {
                  position: absolute;
                  top: 0;
                  left: 0;
                  clip-path: polygon(89% 2%, 99% 50%, 89% 98%, 1% 98%, 11% 50%, 1% 2%);
                  padding: 0 8px;
                }
              
                &.has-source.has-target-border {
                  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
                }

                &.border {
                  position: relative;
                  background: #cdd3d5;
                  border-radius: 2px;
                }
                
                &.shape {
                  width: 100%;
                  background: #fff;
                }
              }
            }
          }
        }
        
        &:hover > div.cell, &:hover > div > div.cell {
          background: #F3F4F4;
        }
      }
    }

    
  }
}
