.empty-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 24px 32px;

  &.full-width {
    width: 100%;
  }

  .icon {
    margin-bottom: 16px;
    color: #535e65;
  }

  .title {
    margin-bottom: 4px;
  }

  .description {
    color: #535e65;
    text-align: center;
    max-width: 240px;
    word-wrap: break-word;
  }

  .action {
    margin-top: 16px;
  }
}
